.promo {
  background-image: url(../img/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 140px 0;

  @include small-tablet {
   padding: 67px 0;
  }

  @include mob {
    padding: 42px 0;
  }

  &__inner {
    display: flex;
    align-items: center;

  }
  &__text {
    max-width: 765px;
    margin-right: 110px;
    font-size: 40px;
    font-family: var(--font-family-yeseva);
    color: #fff;
    padding-left: 56px;

    @include tablets {
      padding-left: 0;
    }

    @include small-tablet {
      font-size: 15px;
  }
  @include mini-mob {
    margin-right: 50px;
  }
  }
  &__link {

    color: #272727;
    background-color: #ff8059;
    display: inline-block;
    padding: 14px 25px 12px;
    text-align: center;

    @include tablets {
      min-width: 135px;
      font-size: 12px;
    }
  }
}
