<section class="certification section">
  <div class="container section__inner">
    <div class="section__descr certification__descr">
      <h2 class="section__title title">Сертифікати якості</h2>
      <p class="certification__text section__text">
        Сертифікати забезпечують додаткову довіру та впевненість для наших клієнтів.
      </p>
    </div>
    <div class="certification__content section__content-descr section--decor">
      <div class="certification__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/cert-1.jpg" alt="" class="certification__item-img">
          </div>
          <div class="swiper-slide">
            <img src="img/cert-2.jpg" alt="" class="certification__item-img">
          </div>
          <div class="swiper-slide">
            <img src="img/cert-1.jpg" alt="" class="certification__item-img">
          </div>
          <div class="swiper-slide">
            <img src="img/cert-2.jpg" alt="" class="certification__item-img">
          </div>
          <div class="swiper-slide">
            <img src="img/cert-1.jpg" alt="" class="certification__item-img">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
