<section class="courses section">
  <div class="container section__inner">
    <div class="courses__descr section__descr">
      <h2 class="section__title title">Наші курси</h2>
      <p class="courses__text section__text">
        Наші курси дозволяють зробити перший крок в новій кар'єрі
        або поглибити знання в своїй галузі, розвиватися як професіонал, а також покращити якість свого життя.
      </p>
    </div>
    <div class="products__content courses__content section__content-descr section--decor">
      <div class="products__item courses__item">
        <div class="courses__item-img">
          <img src="img/course-1.jpg" alt="" class="products__item-img courses__item-img">
          <p class="courses__title">Основи виготовлення свічок</p>
          <p class="courses__time">Навчання - <span>20 год</span></p>
          <p class="courses__price">Ціна - 40$</p>
        </div>
        <h4 class="products__item-title">Мистецтво ароматерапії</h4>
        <p class="products__item-text">
          Будем навчати основам виготовлення свічок з різних матеріалів.</p>
        <button class="button">Купити курс</button>
      </div>
      <div class="products__item courses__item">
        <div class="courses__item-img">
          <img src="img/course-2.jpg" alt="" class="products__item-img courses__item-img">
          <p class="courses__title">Мистецтво ароматерапії</p>
          <p class="courses__time">Навчання -<span>20 год</span></p>
          <p class="courses__price">Ціна - 40$</p>
        </div>
        <h4 class="products__item-title">Мистецтво ароматерапії</h4>
        <p class="products__item-text">Будем вивчати мистецтво ароматерапії та виготовлення свічок з різними ароматами затишку </p>
        <button class="button">Купити курс</button>
      </div>
    </div>
  </div>
</section>
