<section class="top">
  <div class="container top__inner">
    <div class="top__content">
      <h3 class="top__title">Створіть атмосферу затишку та гармонії!</h3>
      <p class="top__text">Створіть особливу атмосферу у своєму домі з нашою екологічно чистою та якісною продукцією зі 100% натуральної соєвого воску.</p>
      <button class="top__buy">Купити</button>
    </div>

    <picture class="top__img">
      <source srcset="img/top-s.png" media="(max-width:360px)">
      <source srcset="img/top-m.png" media="(max-width:480px)">

      <img src="img/top-l.png" class="top__img-l" alt="" >
    </picture>
  </div>

</section>
