<section class="steps section">
  <div class="container section__inner">
    <div class="steps__descr section__descr">
<h2 class="steps__title title">Етапи створення свічок</h2>
<p class="steps__text section__text">
  Створення свічки із соєвого воску може складатися з наступних етапів:
</p>
    </div>
    <ol class="steps__list section--decor section__content-descr">
<li class="steps__item steps__item--odd">
  <p class="steps__item-text">Підготовка матеріалів: дрібні фрагменти соєвого воску, фітіль для свічки, ароматизатори, барвники та інші додаткові матеріали.
    01</p>
  <img src="img/s1.jpg" alt="" class="steps__item-img">
</li>
<li class="steps__item steps__item--odd">

  <p class="steps__item-text">Підготовка форми: вибір форми для свічки та підготовка її до наповнення воском.
    02</p><img src="img/s2.jpg" alt="" class="steps__item-img">
</li>

<li class="steps__item steps__item--even">
  <img src="img/s3.jpg" alt="" class="steps__item-img">
  <p class="steps__item-text">Приготування воску: розплавлення соєвого воску у плавильному пристрої до потрібної температури. Додавання ароматизаторів та барвників за необхідності.</p>

</li>
<li class="steps__item steps__item--even">
  <img src="img/s4.jpg" alt="" class="steps__item-img">
  <p class="steps__item-text">Підготовка фітіля: вставлення фітіля до форми та зафіксування його так, щоб він був рівномірно напружений.</p>
</li>
<li class="steps__item steps__item--odd">
  <p class="steps__item-text">Підготовка матеріалів: дрібні фрагменти соєвого воску, фітіль для свічки, ароматизатори, барвники та інші додаткові матеріали.</p>
  <img src="img/s5.jpg" alt="" class="steps__item-img">
</li>
<li class="steps__item steps__item--odd">

  <p class="steps__item-text">Наповнення форми: воск налити до форми, поки вона не заповниться повністю. Чекати, доки він затвердіє.</p>
  <img src="img/s6.jpg" alt="" class="steps__item-img">
</li>
<li class="steps__item steps__item--even">
  <img src="img/s7.jpg" alt="" class="steps__item-img">
  <p class="steps__item-text">Приготування воску: розплавлення соєвого воску у плавильному пристрої до потрібної температури. Додавання ароматизаторів та барвників за необхідності.</p>

</li>
<li class="steps__item steps__item--even">
  <img src="img/s8.jpg" alt="" class="steps__item-img">
  <p class="steps__item-text">Підготовка фітіля: вставлення фітіля до форми та зафіксування його так, щоб він був рівномірно напружений.</p>

</li>
<li class="steps__item steps__item--odd">
  <p class="steps__item-text">Підготовка матеріалів: дрібні фрагменти соєвого воску, фітіль для свічки, ароматизатори, барвники та інші додаткові матеріали.
    09</p>
  <img src="img/s9.jpg" alt="" class="steps__item-img">
</li>
<li class="steps__item steps__item--odd">

  <p class="steps__item-text">Наповнення форми: воск налити до форми, поки вона не заповниться повністю. Чекати, доки він затвердіє.</p>
  <img src="img/s10.jpg" alt="" class="steps__item-img"></li>
    </ol>

  </div>
</section>
