<section class="team section">
  <div class="container section__inner">
    <div class="team__descr section__descr">
      <h2 class="section__title title">Наші викладачі</h2>
      <p class="team__text section__text">
        Ці люди працюють разом, щоб створювати курси для вас, які допоможуть вам почати власний бізнес або хоббі.
      </p>
    </div>
    <div class="team__content section__content-descr">
      <div class="team__item">
        <img src="img/team-1.jpg" alt="" class="team__img">
        <div class="team__item-box">
          <p class="team__item-name">Викладач Богдан</p>
          <p class="team__item-descr">Має досвід викладання  роботи 4 роки</p>
        </div>
      </div>
        <div class="team__item">
          <img src="img/team-2.jpg" alt="" class="team__img">
          <div class="team__item-box">
          <p class="team__item-name">Викладач Анна</p>
          <p class="team__item-descr"> Має досвід викладання і роботи 6 років</p>
        </div>
        </div>

        <div class="team__item">
          <img src="img/team-3.jpg" alt="" class="team__img">
          <div class="team__item-box">
          <p class="team__item-name">Викладач Галина</p>
          <p class="team__item-descr">Навчає сфері дизайну та декорування</p>
        </div>
        </div>
        <div class="team__item">
          <img src="img/team-4.jpg" alt="" class="team__img">
          <div class="team__item-box">
        <p class="team__item-name">Маркетолог Ольга</p>
        <p class="team__item-descr">Допоможе вам з рекламою</p>
      </div>
    </div>
  </div>
</section>
